{% extends 'partials/shadowfactory.html.twig' %}

       


{% block content %}

	   	<div class="video_background">
        <video autoplay="true" controls="" loop="" src="{{ url('theme://assets/nav_background.mp4') }}"></video>
    </div>

    {{ page.content|raw }}
{% endblock %}
