h1{
	font-size: 100pt;
	line-height: 100pt;
	font-family: Gotham;
	font-weight: bold;
}

h2{
	font-size: 80pt;
	line-height: 80pt;
	font-family: Gotham;
	font-weight: bold;
}

h3{
	font-size: 50pt;
	line-height: 56pt;
	font-family: Gotham;
	font-weight: bold;
}

h4{
	font-size: 36pt;
	line-height: 40pt;
	font-family: Gotham;
	font-weight: bold;
}

h5{
	font-size: 24pt;
	line-height: 28pt;
	font-family: Gotham;
	font-weight: bold;
}

h6{
	font-size: 20pt;
	line-height: 22pt;
	font-family: Gotham;
	font-weight: normal;
}

p{
	font-size: 18pt;
	line-height: 20pt;
	font-family: Gotham;
	font-weight: normal;
}

#body-wrapper {
	overflow: auto;
}

.light-blue{
	color: #C7EAFB;
}

.blue{
	color: #00AEEF;
}

.black-blue{
	color: #005C8E;
}

.black{
	color: #000000;
}

.white{
	color: #FFFFFF;
}

.yellow{
	color: #FFCC04 !important;
}

.light-yellow{
	color: #FFE17F;
}

.orange{
	color: #FAA61A;
}

.label-form{
	margin-bottom: 10px;
}

.light-blue{
	color: #C7EAFB;
}

.blue-background{
	background-color: #00AEEF;
}

.black-blue-background{
	background-color: #005C8E;
}

.black-background{
	background-color: #000000;
}

.white-background{
	background-color: #FFFFFF;
}

.yellow-background{
	background-color: #FFCC04;
}

.light-yellow-background{
	background-color: #FFE17F;
}

.orange-background{
	background-color: #FAA61A;
}

.label-form{
	margin-bottom: 10px;
}

.input-form{
	height: 50px;
	width: 100%;
	background: transparent;
	border: thin solid #FFFFFF;
}

textarea.input-form{
	height: 285px;
}

.button-factory{
	height: 39px;
	width: 163px;
	background: transparent;
}

.button-yellow{
	border: thin solid #FFCC04;
	color: #FFCD09;
}

.button-yellow:hover{
	border: thin solid #FFCD09;
	background-color: #FFCD09;
	color: #FFFFFF;
}

.active-yellow{
	border: thin solid #FAA61A;
	background-color: #FAA61A;
	color: #FFFFFF;
}

.button-blue{
	border: thin solid #00AEEF;
	color: #00AEEF;
}

.button-blue:hover{
	border: thin solid #00AEEF;
	background-color: #00AEEF;
	color: #FFFFFF;
}

.active-blue{
	border: thin solid #005C8E;
	background-color: #005C8E;
	color: #FFFFFF;
}

.button-black{
	border: thin solid #E2E2E2;
	color: #000000;
}

.button-black:hover{
	border: thin solid #A1A1A1;
	background-color: #A1A1A1;
	color: #FFFFFF;
}

.active-black{
	border: thin solid #000000;
	background-color: #000000;
	color: #FFFFFF;
}

.socials a svg{
	display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 5%;
    margin-bottom: 86px;
    color: #F2F2F2;
    /*background: red;*/
    
}

#icon-arrow{
	width: 13px;
    height: 12px;
    color: #FFCC04;
    float: left;
    margin-right: 9px;
    margin-left: 9px;
    padding-top: 2px;
}

#btn-privacy-policy{
	color: #FFCC04;
	width: 192px;
}

.rights-reserved-section{
	margin-bottom: 66px;
}

#btn-privacy-policy p{
	float: left;
}

#btn-privacy-policy{
	margin-top: 6.7%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	text-decoration: none !important;
	position: relative;
}

#btn-privacy-policy:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #FFCC04;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#btn-privacy-policy:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*Navigation*/
.logo{
	width: 133.18px;
    height: 47.72px;
	margin: 0;
	padding: 0;
	/*margin-right: 52.5%;*/
	float: left;
}

.navigation{
	display: inline-block;
	width: 100%;
	padding: 0 6.6%;
}

.desktop-menu ul{
	float: right;
	display: inline-block;
	list-style-type: none;
	/*width: 33%;*/
	width: 572px;

}

.desktop-menu ul li{
	float: left;
	/*padding: 0;
	margin: 0;*/
	/*width: 20%;*/
}

.desktop-menu ul li a{
	font-size: 20px;
    margin-left: 73px;
    color: #fff;
    font-family: "Gotham", sans-serif;   
    font-weight: 400;
   	font-style: normal;
    font-variant: normal;

	padding-bottom: 5px;
	text-decoration: none;
    background: linear-gradient(0deg, currentcolor, currentcolor) bottom center no-repeat;
	background-size: 0px 3px;
	transition: 0.2s;

}

.desktop-menu ul li a:hover{
	background-size: 100% 3px;

}

