body{
	background-color: #222222;
}

html{
	background-color: #222222;
}

/*Headerrrrrrrrrrrrrrrrrrrrrr*/

#header{
	position: fixed;
    top: 31px;
    width: 100%;
    height: 113px;
    z-index: 2;
    display: block;
    background: transparent;
}

.navbar{
	float: left;
}

.video_background{

	height: 70vh;
    width: 100%;
    overflow: hidden;
}

/*Temp*/
.logo{
	width: 200px;
	height: 70px;
	margin: 0;
	padding: 0;
	margin-right: 50%;
	float: left;
}

.navigation{
	display: inline-block;
	width: 100%;
	padding: 0 6.6%;
}

.desktop-menu ul{
	display: inline-block;
	list-style-type: none;
	width: 30%;

}

.desktop-menu ul li{
	float: left;
	/*margin-right: 5%;*/
}

.desktop-menu ul li a{
	font-size: 16px;
    margin-left: 36px;
    color: #fff;
    font-family: "Gotham", sans-serif;   
    font-weight: 400;
   	font-style: normal;
    font-variant: normal;

	 padding-bottom: 5px;
	text-decoration: none;
    background: linear-gradient(0deg, currentcolor, currentcolor) bottom center no-repeat;
	background-size: 0px 3px;
	transition: 0.5s;

}

.desktop-menu ul li a:hover{
	background-size: 100% 3px;

}

/*Footerrrrrrrrrrrrr*/
#footer{
	width: 100%;
	height: 168px;
	padding: 0 21.5%;
	display: block;
	overflow: hidden; 

}



.left-section{
	width: 76%;
	float: left;
}

.right-section{
	float: left;
	width: 23%;
}
 
.right-section button{
	border: none;
	background-color: transparent;
}

.footer-title{
	width: 100%;
	overflow: auto;
	cursor: pointer;
}

.footer-title h3{

	width: 70%;
	/*height: auto;*/
	float: left;
	color: #f1f1f1;
	font-weight: 700;
	line-height: 60px;
	font-size: 40px;
	margin-bottom: 3%;
}

.footer-title span{
	transition: all 0.2s ease;
}


.icon-colour{
	  color: #ffcc04;

     font-size: 25px;

}

.right-section p{
	
	color: #f1f1f1;
}

.socials a{
	display: inline-block;
    width: 30px;
    height: 30px;
    background: red;
    
}

.left-section form p{
	color: #f1f1f1;
}

.form_footer{
	width: 70%;
}

.input_footer{
	width: 100%;
	background: transparent;
    border: thin solid #656363;
    color: #f1f1f1;
    font-size: 18px;
    margin-bottom: 12px;
	padding: 6px;
}

#submit-footer-form{
	float: right;
	background: transparent;
	color: #f1f1f1;
	 border: thin solid #656363;
	padding: 12px;
}

#submit-footer-form:hover{
	background: #ffcc04;
	color: #f1f1f1;
}


/*Content*/

/*Grid content*/
.grid-item {
  width: 160px;
  height: 120px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  /*border-radius: 5px;*/
}

#content-home{
	min-height: 500px;
	
}

.clients-partners-section, .our-work-section{
	padding-top: 2.5%;
	padding-right: 6.9%;
	padding-left: 6.9%;
	padding-bottom: 8.5%;
	
}

.clients-partners-section{
	background-color: #060606;
}

.our-work-section{
	background-color: #222222;
}

.grid-our-work {
  background: #EEE;
  width: 100%;
  grid-gap: 12px 12px;
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  grid-auto-rows: 350px; 
}

.grid-clients-partners{
	background: #060606;
	width: 100%;
	
	display: grid; 
	grid-template-columns: repeat(6, 1fr); 
	grid-auto-rows: 152.14px; 

}

/* ---- grid-item ---- */

.grid-item {
	width: 100%;
	min-height: 100%;
	float: left;
	background: #D26;
	border: 2px solid #333;
	border-color: hsla(0, 0%, 0%, 0.5);
	margin-bottom: 0.6%;
	background: rgba(0,0,0,.65);
    position: relative;

	display: flex;
	align-items: flex-end;
	
}

.grid-item:hover{
	background: linear-gradient(transparent,transparent,rgba(0,0,0,.8));
	  position: relative;
	

}

.grid-our-work .grid-item h3{

	padding: 0;
	margin: 0;
	opacity: 0;

	transition: all 0.25s ease-in-out;
	
	margin-top: 20%;
	margin-left: 5%;

	position: relative;
	
}

.grid-item:hover h3{

	margin-bottom: 50px;
	opacity: 1;
	transition: all 0.25s ease-in-out;

}

.row1{grid-row-end: span 1;}
.row2{grid-row-end: span 2;}
.col1{grid-column-end: span 1;}
.col2{grid-column-end: span 2;}

.title-clients-partners h4{
	font-size: 28px;
	color: #f1f1f1;
	font-family: "Gotham XLight", sans-serif !important;
	margin-bottom: 3.3%;
}

/*Modal edit*/
#modal-privaci-policy {
 	overflow-y: auto;
}

.modal-privacy-policy-dialog{
	width: 54%;

}

.modal-privacy-policy-content{

	background-color: #656363;
	color: #F0F0F0;
	border:none;

	height: 550px;
    overflow-y: auto;
}

.no-border{
  border:none;
}

.close-privacy-policy{

    font-size: 50px;
    position: relative;
    top: 20px;
    right: 24px;
    z-index: 3;
    margin: 0;
	padding: 0;
}

